{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/papers.css') }}">
{% endblock %}

{% block content %}

<div class="create-entry">
    <h1>Create New Summary Entry:</h1>
    <form action="{{url_for('.index')}}" method="post">
        {{ form.csrf_token }}
        <p>Summary:</p>
        {{ form.summary }}
        <p>{{ form.submit() }}</p>
    </form>
</div>

<div class="view-entries">
    <div class="flex-wrapper">
        <h1>All Entries:</h1>
        <a href="{{ url_for('.update_github') }}" id="save">Save to GitHub!</a>
    </div>

    {% for entry in data %}
    <div class="entry">
        <p class="desc"><strong>Summary: </strong>{{ entry.summary | safe }}</p>

        <div class="flex-wrapper">
            <div class="left-entry-actions">
                <a href="{{url_for('.edit', id=entry.id)}}">Edit</a>
            </div>
            <div class="right-entry-actions">
                <a href="{{url_for('.delete', id=entry.id)}}" onclick="return confirm('Are you sure?')">Delete</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}